.list-box {
  width: 100%;
  minHeight: 100%;
  background: url(../../../media/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background: url("../../../media/prodbackk.png");
  overflow: hidden;
}

.MuiPagination-ul .MuiButtonBase-root {
  color: white;
}
