.help-icon {
  font-size: 18px;
  margin-left: 5px;
}

.help-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media all and (max-width: 1440px) {
  .detailsMain {
    max-height: 100vh;
  }
}
@media all and (max-width: 768px) {
  .detailsMain {
    padding-right: 2% !important;
  }
  .detailsImg {
    height: 350px !important;
  }
  .detailsDesc {
    width: 250px;
  }
  .detailsBox {
    width: 250px;
  }
  .detailsbot {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media all and (max-width: 425px) {
  .detailsMain {
    margin-top: 0;
    padding-right: 2% !important;
  }
  .details {
    min-height: 100vh !important;
  }
  .detailsImg {
    height: 250px !important;
  }
  .detailsPage {
    display: flex;
    flex-direction: column;
  }
  .boxforImg {
    margin-top: 40px;
    margin-left: 30px;
  }
  .detailsDesc {
    margin-bottom: 10px !important;
  }
  .detailsTitle {
    font-size: 22px !important;
    margin-bottom: 0px !important;
  }
  .detailsbot {
    margin-right: 128px;
  }
  .detailsP {
    font-size: 16px !important;
    margin-bottom: 8px;
  }
  .detailsPaper {
    width: 140px;
  }
}
@media all and (max-width: 375px) {
  .details {
    min-height: 100vh !important;
    overflow: hidden;
  }
}
@media all and (max-width: 320px) {
  .details {
    min-height: 100vh;
    overflow: hidden;
  }
  .boxforImg {
    margin-left: 50px;
    margin-top: 25px;
  }
  .detailsImg {
    height: 220px !important;
  }
  .detailsDesc {
    font-size: 14px !important;
    height: 80px;
    padding: 0 !important;
    width: 200px;
  }
  .detailsTitle {
    font-size: 18px !important;
  }
  .detailsP {
    margin-right: 30px !important;
  }
  .detailsBox {
    margin-right: 30px;
  }
  .detailsPaper {
    width: 200px;
  }
}
