.homepage-list-item {
  color: #7e869a;
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.9s;
}
.homepage-list-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.homepage-list {
  display: flex;
  list-style: none;
}
.navbar {
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage-btn {
  height: 35px;
}
.stack {
  margin-left: 240px;
}
.icon {
  margin-right: 250px;
}
.homepage {
  height: 100vh;
  color: white;
}
.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 15%;
  height: 70vh;
  margin-top: 3%;
}
h2 {
  color: #4595d0;
}
.homepage-p {
  color: #7e869a;
}
