.navbar {
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage-btn {
  height: 35px;
}

.homepage {
  width: 100%;
  background: url('https://wallpaperaccess.com/full/379959.png');
  min-height: 100vh;
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 15%;
  min-height: 70vh;
  margin-top: 3%;
}
h2 {
  color: #4595d0;
}
.homepage-p {
  color: #7e869a;
}
.homeimg {
  height: 260px;
  width: 430px;
  margin-left: 40px;
}

@media all and (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon {
    margin-bottom: 20px;
  }

  .homeimg {
    display: none;
  }

  .homepage {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: url('https://wallpaperaccess.com/full/379959.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media all and (max-width: 376px) {
  .homeimg {
    display: none;
  }
}

@media all and (max-width: 426px) {
  .homeimg {
    display: none;
  }
}
